/* 숨기기 / 보이기 처리 */
.modal-container.hidden {
    display: none !important;
}

.modal-container.show {
    display: flex !important;
}

/* 전체 화면 중앙 정렬 */
.modal-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.2);
    z-index: 3000;
}

/* 모달 박스 */
.modal-box {
    width:450px;
    background: #ffffff;
    border-radius: 20px;
    padding: 30px 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    text-align: center;
}

.modal-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* 프로필 이미지 */
.profile-image-wrapper {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 25px auto;
    #modalProfileImg,
    #editProfileImageBtn {
        cursor: pointer !important;
    }
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
}

.edit-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 28px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.label {
    width: 50px; /* 좌측 정렬 기준 */
    font-weight: 500;
    margin-top: 4px;
}

.form-value {
    display: flex;
    flex-direction: column;   /* 🔥 세로로 배치 */
}

/* 이메일 텍스트 */
.email-text {
    font-size: 15px;
    margin-bottom: 4px;
}

.email-desc {
    font-size: 12px;
    color: #777;
    margin-top: 6px;
}

/* 입력박스 */
.input-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
}

.input-box:focus {
    border-color: #888;
}

/* 에러문구 */
.error-text {
    margin-top: 6px;
    font-size: 12px;
    color: #d9534f;
    line-height: 1.4;
}

/* 버튼 영역 */
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.btn-cancel {
    width: 48%;
    padding: 10px 0;
    border: 1px solid #bbb;
    background: #fff;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.btn-submit {
    width: 48%;
    padding: 10px 0;
    background: #222;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

/* 비활성화 */
.btn-submit.disabled {
    background: #cccccc;
    cursor: not-allowed;
}
